					body{
							background-color: #666 ; 
							color: white;
							text-decoration: none;
					}

					.Box_Container_Input{
										
								  display: flex;
								  align-items: center;
								  justify-content: center;
								  flex-direction: column;								 
					}


					.Box_Container_Art {
											width: auto;
											overflow: hidden;

											height: auto;								
											background-color: #666;

											display: flex;
											flex-direction: row;		
											flex-wrap: wrap;
											justify-content: center;
											align-items: stretch;
					}

				
					.Box_Container_Nav{
											width: 100%;
											height: auto;	
											overflow: hidden;

																			
											background-color: #666;

											display: flex;
											flex-direction: row;		
											flex-wrap: wrap;
											justify-content: center;
											align-items: stretch;									
					}
					.text_art{
							text-align: center;
							font-size: 20px;
							text-decoration: none;
					}


					.text {
						font-size: 200px;					
						text-decoration: none;
						color: white;
					}


					.BOTTON{
							background-color:darkgrey;
						  	color: white;
						  	padding: 14px 20px;
						  	margin: 8px 0;
						  	border: none;
						  	cursor: pointer;
						  	width: 10%;
						  	height: auto;

						  	text-align: center;
						  	font-size: 20px;

					}
					.BOTTON a{
							color: white;
							text-decoration:none;

					}

					.BOX_BUTTON{
							
						  background-color: darkgrey;
						  color: white;
						  padding: ;
						  margin: 8px 10px;
						  border: none;
						  cursor: pointer;
						  width: 50px;

				}

				.Box_Button_Nav{
							color: white;
							text-align: center;							
							text-decoration: none;
							width: auto;
							height: auto;
							padding: 10px 0px;
							background-color: darkgrey;
		
				}


				

				.BOX_INPUT{
							width: 100%;
							height: auto;
							padding: 12px 20px;
							margin: 8px 0;
							
							border: 1px solid #ccc;
							box-sizing: border-box;
							

				}



				
				.Box_Articolo  {

								padding: 3px;
								height: auto;
								width: auto;								 
								margin: 20px;
								vertical-align: middle;
								background-color: darkgrey;
								text-decoration: none;
								text-align: center;
								font-size: 30px;
				}

				@media (max-width: 7000px) {
						  
											.Box_Articolo {
													    flex: 20%;
													    max-width: 20%;
										 	}
										 	.Box_Button_Nav{
										 				flex: 20%;
													    max-width: 20%;
										 	}
					 
				}		





				@media (max-width: 2000px) {
						  
											.Box_Articolo {
													    flex: 20%;
													    max-width: 20%;
										 	}
										 	.Box_Button_Nav{
										 				flex: 20%;
													    max-width: 20%;
										 	}
					 
				}		


				@media (max-width: 1500px) {
						  
											.Box_Articolo {
													    flex: 25%;
													    max-width: 25%;
										 	}

										 	.Box_Button_Nav{
										 				flex: 20%;
													    max-width: 20%;
										 	}
						 	
				}


				@media (max-width: 1000px) {
						  
											.Box_Articolo {
													    flex: 33%;
													    max-width: 33%;
										 	}

										 	.Box_Button_Nav{
										 				flex: 20%;
													    max-width: 20%;
										 	}

										 					 	
				}

				@media (max-width: 750px) {
						  
											.Box_Articolo {
													    flex: 50%;
													    max-width: 50%;
										 	}

										 	.Box_Button_Nav{
										 				flex: 100%;
													    max-width: 100%;
										 	}

										 					 	
				}

				@media (max-width: 500px) {
											.Box_Container{
														flex-direction:column;
											}
												
											.Box_Articolo {
											    flex: 100%;
											    max-width: 100%;
											}

											.Box_Button_Nav{
														flex: 100%;
											    		max-width: 100%;														
											}

														
				}
			
